# Divisibility problem #

/DivisibilityProblem/.vs
/DivisibilityProblem/.vs
/DivisibilityProblem/DivisibilityProgram/bin
/DivisibilityProblem/DivisibilityProgram/obj
/DivisibilityProblem/DivisibilityProgram/Properties
/DivisibilityProblem/DivisibilityProgramObject

# Iterative processes problem #

/IterativeProcessesProblem/.vs
/IterativeProcessesProblem/BinaryRewriteStudio v1/.vs
/IterativeProcessesProblem/BinaryRewriteStudio v1/bin
/IterativeProcessesProblem/BinaryRewriteStudio v1/obj

/IterativeProcessesProblem/BinaryRewriteStudio v2/.vs
/IterativeProcessesProblem/BinaryRewriteStudio v2/bin
/IterativeProcessesProblem/BinaryRewriteStudio v2/obj

/IterativeProcessesProblem/BinaryRewriteStudio v3/.vs
/IterativeProcessesProblem/BinaryRewriteStudio v3/bin
/IterativeProcessesProblem/BinaryRewriteStudio v3/obj

/IterativeProcessesProblem/BinaryRewriteStudio v4/.vs
/IterativeProcessesProblem/BinaryRewriteStudio v4/bin
/IterativeProcessesProblem/BinaryRewriteStudio v4/obj

/IterativeProcessesProblem/BinaryRewriteStudio v5/.vs
/IterativeProcessesProblem/BinaryRewriteStudio v5/bin
/IterativeProcessesProblem/BinaryRewriteStudio v5/obj

/IterativeProcessesProblem/BinaryRewriteStudio v6/.vs
/IterativeProcessesProblem/BinaryRewriteStudio v6/bin
/IterativeProcessesProblem/BinaryRewriteStudio v6/obj